<section class="product-container">
	<span *ngIf="products == undefined || !products.length">No products available! Please check and modify search phrase.</span>
    <section class="product-sub-container">
		<section class="products-by-category" *ngFor="let productsByCategoryKey of productsByCategoryKeys">
            <span class="category-title">{{productsByCategoryKey}}</span>
            <section class="product-category-container">
			    <section class="product" *ngFor="let product of productsByCategory[productsByCategoryKey]" (click)="getMoreDetailsAbout(product._id.oid)">
					<img class="product-thumbnail" [src]="product.images.medium.url" alt="Product Image">
					<span class="product-min-info">
						<span class="product-genre">{{product.genre}}</span>
						<span class="product-title">{{product.title}}</span>
						<span class="special-price-tag">
							<span class="new-price-tag">{{product.price + ' ' + product.currency}}</span>
							<span class="old-price-tag">{{(product.oldprice) + ' ' + product.currency}}</span>
						</span>
						<span [ngClass]="['price-variance',  (product.pricevariance >= 0? 'negative-number': 'positive-number')]">{{product.pricevariance}}</span>
					</span>
                </section>
            </section>
		</section>
    </section>
</section>

