<section class="login-container">
    <section class="login-subcontainer">
        <span class="company-logo">
            <i class="material-icons">shopping_cart</i>
        </span>
        <span class="short-intro-note">We are launching our shop to web medium now. Please support us!</span>
        <span class="action-cta">
            <button (click)="guestLogin()">
                <i class="material-icons">person</i>
                <span>Continue as guest</span>
            </button>
        </span>
    </section>
</section>