.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    background: rgba(98,234,170,0.92);
    background: -moz-linear-gradient(left, rgba(98,234,170,0.92) 16%, rgba(93,246,120,0.92) 37%, rgba(90,255,82,0.94) 53%, rgba(90,255,82,0.97) 73%, rgba(64,231,98,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(16%, rgba(98,234,170,0.92)), color-stop(37%, rgba(93,246,120,0.92)), color-stop(53%, rgba(90,255,82,0.94)), color-stop(73%, rgba(90,255,82,0.97)), color-stop(100%, rgba(64,231,98,1)));
    background: -webkit-linear-gradient(left, rgba(98,234,170,0.92) 16%, rgba(93,246,120,0.92) 37%, rgba(90,255,82,0.94) 53%, rgba(90,255,82,0.97) 73%, rgba(64,231,98,1) 100%);
    background: -o-linear-gradient(left, rgba(98,234,170,0.92) 16%, rgba(93,246,120,0.92) 37%, rgba(90,255,82,0.94) 53%, rgba(90,255,82,0.97) 73%, rgba(64,231,98,1) 100%);
    background: -ms-linear-gradient(left, rgba(98,234,170,0.92) 16%, rgba(93,246,120,0.92) 37%, rgba(90,255,82,0.94) 53%, rgba(90,255,82,0.97) 73%, rgba(64,231,98,1) 100%);
    background: linear-gradient(to right, rgba(98,234,170,0.92) 16%, rgba(93,246,120,0.92) 37%, rgba(90,255,82,0.94) 53%, rgba(90,255,82,0.97) 73%, rgba(64,231,98,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62eaaa', endColorstr='#40e762', GradientType=1 );
}

.login-subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.login-subcontainer>span>*:not(.login-form) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.company-logo>i {
    font-size: 100px;
}

i {
    background: -webkit-linear-gradient(coral, #356ad2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.short-intro-note {
    font-weight: 300;
}

.action-cta>button {
    padding: 10px;
    margin: 10px;
    background: -webkit-linear-gradient(greenyellow, limegreen);
    border: 1.5px solid transparent;
    border-radius: 30px;
    color: ivory;
    font-weight: 300;
    font-size: medium;
}

.action-cta>button:hover {
    border: 1.5px solid ivory;
}

button:focus {
    outline: none;
}

.login-form-container {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: ivory;
}

.login-form-subcontainer {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: ivory;
}

.login-form {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.login-form>* {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 5px 3px;
}

.login-form>input {
    width: 100%;
}

.login-form>input:focus {
    outline-color: lawngreen;
}

.login-form>a {
    text-decoration: underline;
    cursor: pointer;
}