<section class="login-container">
    <section class="login-subcontainer">
        <span class="company-logo">
            <i class="material-icons">shopping_cart</i>
        </span>
        <span class="short-intro-note">We are launching our shop to web medium now. Please support us!</span>
        <span class="action-cta">
            <button (click)="guestLogin()">
                <i class="material-icons">person</i>
                <span>Continue as guest</span>
            </button>
        </span>
        <span class="login-form-container">
            <form [formGroup]="loginForm" (ngSubmit)="mobileLoginUsingOtp()" class="login-form">
                <span class="login-error-message">{{loginErrorMessage}}</span>
                <a (click)="getOtp()">Get Otp</a>
                <input type="text" formControlName="phoneNumber" spellcheck="false">
                <input type="password" formControlName="otp" spellcheck="false">
                <button type="submit">
                    <i class="material-icons">keyboard</i>
                    <span>Continue with Otp</span>
                </button>
            </form>
        </span>
    </section>
</section>