<section class="product-desc-container">
    <section class="product-desc-subcontainer" *ngIf="product">
        <div class="img-zoom-container" (mouseenter)="showMagnifiedImageAside('imageTarget', 'magnifiedImage');" (mouseleave)="hideMagnifiedImage()">
            <span class="product-image">
                <img id="imageTarget" [src]="product.images.large.url" alt="" [width]="product.images.large.width" [height]="product.images.large.height">
            </span>
            <div id="magnifiedImage" [ngStyle]="{'display': (showMagnified? 'block': 'none')}" class="img-zoom-result"></div>
        </div>
        <span class="product-details">
            <span class="product-brand">{{product.brand}}</span>
            <span class="product-title">{{product.title}}</span>
            <span class="product-eye-catcher">Special price</span>
            <span class="product-price-tag">{{product.price + ' ' + product.currency}}</span>
            <span class="product-ratings-reviews">44 ratings and 1 reviews</span>
            <span class="product-available-offers">
                <span>Available offers:</span>
                <span *ngFor="let availableOffer of availableOffers">{{availableOffer}}</span>
            </span>
        </span>
    </section>
</section>