/* Add application styles & imports to this file! */

.img-zoom-container {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
} 
  
.img-zoom-lens {
  display: flex;
  position: absolute;
  border: 1px solid ivory;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
  
}

.img-zoom-result {
  position: fixed;
  border: 1px solid #f5d3d3;
  /*set the size of the result div:*/
  width: 700px;
  height: 550px;
  top: 0;
  right: 0;
}